<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.contrib.json.classic.JsonEncoder">
            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                <prettyPrint>false</prettyPrint>
            </jsonFormatter>
            <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSX</timestampFormat>
            <appendLineSeparator>true</appendLineSeparator>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Set Ktor logging to INFO -->
    <logger name="io.ktor" level="INFO"/>
    
    <!-- Set application logging to DEBUG for development -->
    <logger name="will.sudoku" level="DEBUG"/>
</configuration>
