<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSX} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Set Ktor logging to INFO -->
    <logger name="io.ktor" level="INFO"/>

    <!-- Set application logging to DEBUG for development -->
    <logger name="will.sudoku" level="DEBUG"/>
</configuration>
